*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1C77C3;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 1.5vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    font-weight: bold;
    cursor: pointer;
    color: #D63230;
    background-color: #40BCD8;
}

#reset{
    margin-top: 2vmin;
    padding: 1vmin 3vmin;
    font-size: 4vmin;
    border: none;
    border-radius: 1rem;
    background-color: #F39237;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

#newgame{
        margin-top: 2vmin;
    padding: 1vmin 3vmin;
    font-size: 4vmin;
    border: none;
    border-radius: 1rem;
    background-color: #F39237;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

#msg{
    font-size: 3vmin;
    color: white;

}

.msgc{
    height: 30vmin;
}

.hide{
    display: none;
}